<template name="ApplicationLayout">
  <header>
    {{> Header}}
    <!-- {{> AppNav}} -->
  </header>

<body>
<div class="col-lg-12">
    {{#if currentUser}}

      <div class="col-lg-2" style="margin-left:-30px;">
        <div class="pull-left">
          {{> AppNav}}
        </div>
      </div>

      <div class="col-lg-10">
        {{> yield}}
      </div>

    {{else}}

      {{> yield}}

    {{/if}}



</div>
  <!-- <div class="col-lg-12"> -->
  <!-- </div> -->

</body>

<!-- <footer>
{{> yield "footer"}}
</footer> -->
</template>
